* {
    background-color: rgb(221, 216, 216);
    color: rgb(116, 95, 211);
    border-top: 50px;
}
body {
    margin-top: 300px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 999;
    background-color: rgb(116, 95, 211);;
    opacity: 0.8;
    padding: 15px;
}
a {
    text-decoration: none;
    color: rgb(221, 216, 216);
    background-color: rgb(116, 95, 211);
}
footer {
    color: rgb(221, 216, 216);
    background-color: rgb(116, 95, 211);
    padding: 20px;
    bottom: 0;
    left: 0%;
    width: 100%;
    position: fixed;
}