<div>
    <h1>Tim Bergling</h1>
    <button class="external-link">
    <a href="https://www.timberglingfoundation.org/">Foundation</a>
    </button>
    <button class="external-link">
    <a href="https://www.youtube.com/watch?v=h2Tzd7MiOj8">Concert</a>
    </button>
</div>