<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admiration moment</title>
    <link rel="stylesheet" href="style/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/works">WORKS</a>
    </nav>
      {{{body}}}
    <footer>
      <p>Made with <i class="fas fa-heartbeat"></i> @ Ironhack Paris 2021</p>
    </footer>
  </body>
</html>